# indirect dependencies.
colander==1.3            # required by deform. 1.7.0 is available but not compatible
Chameleon==3.6.2         # required by deform, pyramid_chameleon, lingua
iso8601==0.1.11          # required by colander. 0.1.12 is available but not compatible
PasteDeploy==2.0.1       # required by pyramid
mccabe==0.6.1            # required by flake8
pep8==1.7.1              # required by flake8
peppercorn==0.6          # required by deform
polib==1.1.0             # required by lingua
pyflakes==2.1.1          # required by flake8
pytz==2019.3             # required by Babel
redis==3.3.11            # required by pyramid_redis_sessions
repoze.lru==0.7          # required by pyramid
repoze.sendmail==4.4.1   # required by pyramid_mailer
transaction==2.4.0       # required by pyramid_mailer
translationstring==1.3   # required by deform, pyramid
venusian==3.0.0          # required by pyramid
SQLAlchemy==1.3.10       # required by pyramid_sqlalchemy
webassets==0.12.1        # required by pyramid_webassets
WebOb==1.8.5             # required by pyramid
zope.deprecation==4.4.0  # required by deform
zope.interface==4.6.0    # required by pyramid
zope.sqlalchemy==1.2     # required by pyramid_sqlalchemy

# direct dependencies.
Babel==2.7.0
deform==0.9.9                 # 2.0.8 available but probably not compatible
lingua==4.13
oauthlib==3.1.0
psycopg2==2.8.4
pyramid==1.10.4
pyramid_chameleon==0.3
pyramid_mailer==0.15.1
pyramid_redis_sessions==1.0.1  # should be replaced by pyramid_sessions_redis
pyramid_tm==2.3
pyramid_sna==0.3.2
pyramid_sqlalchemy==1.6
pyramid_webassets==0.10
raven==6.10.0
requests==2.22.0
waitress==1.3.1
newrelic==2.78.0.57
flake8==3.7.9
